
BasedOnStyle: LLVM
UseTab: Never

IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
AccessModifierOffset: 0

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
IndentGotoLabels: true
